<h1> Search for Another User </h1>
<br>

<% @not_connected.each do |user| %>
	<div class="thumb_placeholder">
		<%= user.account_name %>
	</div>
	<p><%= link_to "Add friend?", friends_path(:user_id => user), :method => "post" %></p>
<% end %>

<p><%= flash[:notice] %></p>
<br>
<p><%= link_to 'Back', homepage_path %></p>