<% @users.each do |user| %>
	<div class="thumb_placeholder">
		<%= user.account_name %>
	</div>

	<% if current_user.friend_with? user %>
		<p>You are already friends!</p>
	<% elsif current_user.invited? user %>
		<p>Friendship request pending...</p>
	<% elsif user.invited? current_user %>
		<%= link_to "Confirm friend?", friend_path(user), :method => "put" %>
	<% else %>
		<%= link_to "Add friend?", friends_path(:user_id => user), :method => "post" %>
	<% end %>

<% end %>