// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newsfeed {
	background: #d3d3d3;
	margin: 15px;
	height: 1000px;
}

#album-display {
	background: #d3d3d3;
	margin: 15px;
	height: 1000px;
}