// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newsfeed {
	height: 1000px;
}

#album-display {
	height: 1000px;
}

#friends-list {
	height: 150px;
}